body {
    font-family: 'Roboto', sans-serif;
    color: #212121;
}
.link-studio {
    text-decoration: none;
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    letter-spacing: 0.03em;
    color: #000000;
}
.link-studio > span {
    color: #2196F3;
}
.site-nav .link {
    text-decoration: none;
    color: #212121;
}
.site-nav .link:hover,
.site-nav .link:focus,
.site-nav .link:active {
    color: #2196F3;
}
.pointer {
    cursor: pointer;
}